@pichincha:registry=https://pkgs.dev.azure.com/BancoPichinchaEC/BP-Framework/_packaging/Framework/npm/registry/ 
//pkgs.dev.azure.com/BancoPichinchaEC/BP-Framework/_packaging/Framework/npm/registry/:username=BancoPichinchaEC
//pkgs.dev.azure.com/BancoPichinchaEC/BP-Framework/_packaging/Framework/npm/registry/:_password=${STEP_DESIGN_SYSTEM_CREDENTIALS}
//pkgs.dev.azure.com/BancoPichinchaEC/BP-Framework/_packaging/Framework/npm/:username=BancoPichinchaEC
//pkgs.dev.azure.com/BancoPichinchaEC/BP-Framework/_packaging/Framework/npm/:_password=${STEP_DESIGN_SYSTEM_CREDENTIALS}