.allButFooter {
  min-height: calc(100vh - 56px);
  padding: 80px 50px;
}

.home {
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  transition: all 0.3s ease;
}

.nav-close.home {
  left: 88px;
  height: 100vh;
  width: calc(100% - 88px);
  transition: all 0.3s ease;
}

.cursor-pointer {
  cursor: pointer;
}
